/* Common */
.clear{
    clear: both;
}
.text-white{
    color: #fff !important; 
}
.pull-right{
    float: right !important;
}
.mt-8{
    margin-top: 8px;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-full{
    width: 100%;
}
.col-third{
    width: 33.33333%;
}
.col-half{
width: 50%;
}
/* Main */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
#main{


}

#header{
height: 46px;
background-color: black ;
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 1;
}
#header .search-button{
float: right;
padding: 0 21px;
}

#header .search-icon{
    font-size: 20px;
    color: #ffff;
    line-height: 46px;
    
    
}
#header .search-button:hover{
    background-color: violet;
    cursor: pointer;
}

#nav{
display: inline-block;
}

#nav, .subnav{
    list-style-type: none;

}

#nav >li{
    display:inline-block;
}
#nav li:hover .subnav{
    display: block;
}

#nav li{
    
    position: relative;
}
#nav>li>a{
    color:aliceblue;
    text-transform: uppercase;
}

#nav li a{
  
    text-decoration:none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}

#nav> li:hover> a{
    color: black;
    background-color:#cccc;
}


#nav .subnav{
    display: none;
    position: absolute;
    min-width: 160px;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    
    
}
#nav .subnav a{
    color: black;
    padding: 0 16px;
}
#nav .subnav> li:hover{
    color: black;
    background-color:#cccc;
}
#nav .nav-arrow-down{
    font-size: 14px;
}

#slider{
    margin-top: 46px;
    padding-top: 50%;
    background: url('/Đồ Án Web/-n-Web/assets/img/Dalat.jpg') top center / cover no-repeat;
    position: relative;
}
#slider .text-content{
    position: absolute;
    bottom: 48px;
    right: 50%;
    transform: translate(50%,-300%);
    text-align: center;
    color:black;
    font-weight: 500;
    padding: 10px 10px;
   
}


#slider .text-heading{
    padding: 10px;
    font-size: 24px;
    font-weight: 500;
    font-size: 50px;
    letter-spacing: 5px;
}
#slider .text-description{
    font-size: 25px;
    letter-spacing: 5px;
}

#content{

}
#content .content-section{
    width: 800px;
    max-width: 100%;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
#content .section-heading{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    padding: 10px 10px;
    letter-spacing: 4px;
}
#content .sub-heading-section{
    text-align: center;
    font-size: 15px;
    /* padding: 10px 10px; */
    margin-top: 15px;
    font-style: italic;
    opacity: 0.6;
}
#content .about-text{
    margin-top: 15px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.6;
}

#content .member-list{
    margin-top: 48px;
    overflow: hidden;
    
}

#content .member-item{
    width: calc(100% /2);
    float: left;
    text-align: center;
    
}
#content .name-team{
margin: 5px;
font-size: 20px;
text-align: center;
margin-bottom: 30px;
letter-spacing: 3px;
font-weight: 500;
}

#content .member-name{
    font-size: 20px;
    
}
#content .member-avatar{
    margin-top: 15px;
    width: 160px;
    height: 229px;
    border-radius: 4px;
}

/* tour-section */
.tour-section{
    background-color: #000;
    padding-bottom: 48px;
}
.ticket-list{
    background-color: #fff;
    margin-top: 40px;

}
.ticket-list li {
font-size: 20px;
padding: 10px 10px;
border-bottom: 4px solid #ddd;
margin-right: 20px;
letter-spacing: 4px;
}

.ticket-list .sold-out{
    background-color: #f44336;
    color: #fff;
    margin-left: 20px;
    
}

.ticket-list .quantity{
    float:right;
    background-color: #000;
    color: #ddd;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    margin: -3px;
    letter-spacing: 0;
}
/* Place */
.place-list{
margin-top: 32px;
margin-left: -8px;
margin-right: -8px;

}

.place-img{
width: 100%;
 display: block; 
 height: 180px;
width: 100%; 

}
.place-item{
    float: left;
    width: 33.33333%;
    padding: 0 8px;

}

.place-img:hover{
    opacity: 0.6;
}

.place-body{
background-color:#fff ;
padding: 16px;
font-size: 15px;
letter-spacing: 4px;
text-align: center;
line-height: 1.6;

}

.name-place{
text-align: center;
}

.place-time{
color: #757575;

}

.place-desc{

}

.Btn{
line-height: 2;
letter-spacing: 2px;
background-color: #000;
color: #fff;
text-decoration: none;
padding: 8px 12px;
display: inline-block;
margin-top: 15px;
border: none;
}

.Btn:hover{
background-color:#ccc;
color: #000;
}


#footer{

}
/* Phần modal */
.modal{
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(0, 0, 0, 0.4);
align-items: center;
justify-content: center;
display: none;
}

.modal.open{
    display: flex;
}

.modal-container{
    background-color: #fff;
     width: 900px;
     min-height: 200px;
     position: relative;
    max-width: calc(100% - 32px);
    animation: modalFadeIn ease .5s;
}

.modal-close{
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 12px;
    opacity: 0.7;
    cursor: pointer;
}

.modal-close:hover{
    opacity: 1;
}
.modal-header{
    background:#757575;
    color: #fff;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
   
}
.modal-body{
    padding: 16px;
}
.modal-label{
    display: block;
    padding: 16px;
    margin-bottom: 12px;
    text-transform: uppercase;
}
.modal-heading-icon{
    margin-right: 16px;
}
.modal-input{
    width: 100%;
    font-size: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 24px;
}
#buy-ticket{
    background-color: #757575;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
    
}
#buy-ticket:hover{
    opacity: 0.8;
}
.modal-fotter{
    padding: 16px;
    text-align: right;
}
.modal-fotter a{
    color: #2196f3;
}
@keyframes modalFadeIn{
    from{
        opacity: 0;
        transform: translateY(-100%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
/* CONTACT-FORM */
.contact-content{
  margin-top: 48px;
    line-height: 50px;
    width: 100%;
}
.contact-info{
    font-size: 18px;
  margin-bottom: 10px;
    
}
.contact-info i{
    width: 30px;
    display: inline-block;
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.form-submit{
    background-color: #000;
    opacity: 1;
    color: #fff;
    margin-top: 16px;
    width: 100%;
    font-size: 20px;
    cursor: pointer;
    padding: 2px;
    letter-spacing: 2px;
    margin-bottom: 112px;
}
.form-submit:hover{
    color: #ccc;
    opacity: 0.8;

}
.map-section img{
    width: 100%;
}

/* <!-- Phan footer --> */
#footer{
    text-align: center;
    padding: 64px 34px;
}
#footer .socials-list{
    font-size: 24px;
    padding: 20px;
}

#footer .socials-list a{
    color: #000;
    opacity: 0.7;
    text-decoration: none;
}
#footer .socials-list a:hover{
    opacity: 0.5;
}
#footer .copyright a{
   font-size: 20px;
    color: #000;
}
#footer .copyright a:hover{
opacity: 0.5;

}
/* responsive */
/* 
PC: >=1024px
tablet: >=740px & <1024px
mobile : <740px
*/
