*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}

#main{


}
.clear{
    clear: both;
}

#header{
height: 46px;
background-color: black ;
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 1;
}
#header .search-button{
float: right;
padding: 0 21px;
}

#header .search-icon{
    font-size: 20px;
    color: #ffff;
    line-height: 46px;
}
#header .search-button:hover{
    background-color: violet;
    cursor: pointer;
}

#nav{
display: inline-block;
}

#nav, .subnav{
    list-style-type: none;

}

#nav >li{
    display:inline-block;
}
#nav li:hover .subnav{
    display: block;
}

#nav li{
    
    position: relative;
}
#nav>li>a{
    color:aliceblue;
    text-transform: uppercase;
}

#nav li a{
  
    text-decoration:none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}

#nav> li:hover> a{
    color: black;
    background-color:#cccc;
}


#nav .subnav{
    display: none;
    position: absolute;
    min-width: 160px;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    
    
}
#nav .subnav a{
    color: black;
    padding: 0 16px;
}
#nav .subnav> li:hover{
    color: black;
    background-color:#cccc;
}
#nav .nav-arrow-down{
    font-size: 14px;
}



/*menu*/
#menu{
    display: flex;
    justify-content: center;    
    height: 46px;

}
  
#nav-phim{
    display: inline-block;
}
 
#nav-phim >li{
    display:inline-block;
}
#nav-phim li:hover .subnav{
    display: inline-block ;
}

#nav-phim li{
    display: inline-block;
    position: relative;
    list-style-type:armenian;
}
#nav-phim>li>a{
    color:aliceblue;
    text-transform: uppercase;
}

#nav-phim li a{
    text-decoration:none;
    line-height: 46px;
    padding-left: 24px;
    padding-right: 24px;
    display: block;
}

#nav-phim> li:hover> a{
    color: rgb(255, 98, 0);
}


#nav-phim .subnav{
    display: none;
    position: absolute;
    min-width: 520px;
    top: 100%;
    left: 0;
    background-color: #686868;
}
#nav-phim .subnav a{
    color: rgb(255, 255, 255);
    padding: 0 16px;
    display: block;
    width: 120px;
}
#nav-phim .subnav a:hover{
    color: rgb(255, 98, 0);
}
#nav-phim .subnav> li:hover{
    color: black;
}
#nav-phim .nav-arrow-down{
    font-size: 14px;
}
/* Tieu de */
.port-full{
    background-color: #161616;
    height: 195.5px;
    
}

.bcr-rv{
    position: absolute;
    width: 100%;
    transform: translateY(40px);  
    position: absolute;
    height: 200px;
 
}
.bcr-rv h1{
    color: #fff;
    font-size: 50px;
    text-align: center;
    padding-top: 30px;
}
.bcr-rv p{
    color: #fff;
    text-align: left;
    font-size: 30px;
}
.bcr-rv i{
    color: #a4a4a4;
    font-size: 12px;
    text-align: right;
}

/* phan intro */
.slide{
    padding-top: 20px;
    background: #161616;
    color: #fff;
}
.slide h2{
    margin-left: 30px;
    padding-bottom: 20px;
}
.slide a{
    font-size: 14px;
    color: rgb(255, 106, 0);
    text-decoration: none;
}
.wrap{
    background-color: #161616;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.img{
    width: 100%;
    height: 350px;
    border-radius: 5px;
    cursor: pointer;
}
.img:hover{ 
    transform: scale(0.92);
}
.phim{
    background-color: #161616;
    color: #fff;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 50px;
}

.phim .go-to{
    text-decoration: none;
    color: #fff;
}
.go-to:hover{
    color: aqua;
}
.phim h1{
    cursor: pointer;
    padding: 10px 0px;
    font-size: 18px;
    text-transform: uppercase;
}
.phim p{
    line-height: 1.5;
    color: #a4a4a4;
}

.btn{
    background: red;
    border: none; 
    outline: none; 
    color:white;
    padding: 10px 20px; 
    border-radius: 5px; 
    font-weight: bold; 
    margin-right: 13px;
    margin-top: 10px; 
    transition:0.2s; 
    cursor:pointer;
}
.btn:hover{ 
    transform: scale(0.9);
}
.wall{
    width: 100%;
}
